<html>
<body>
<h3>Veja as configuracoes do seu servidor</h3>
<ul>
    <li>SO: {{ ansible_distribution }}</li>
    <li>Versao: {{ ansible_distribution_version }}</li>
    <li>Arquitetura: {{ ansible_architecture }} </li>
    <li>IP: {{ ansible_all_ipv4_addresses }}</li>
</ul>
</body>
</html>

